<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Products</title>
</head>
<body>
    <div class="container">
        <h1>Products</h1>
        <% result.map(item => { %>
            <ul class="list-unstyled">
                <li>
                    <a href="/products/<%=item._id%>/views"><%= item._id %></a>
                </li>
            </ul>
        <% }) %>
    </div>
</body>
</html>
